body {
	/*padding-top: 60px;*/
	/*overflow-y:none !important;*/
}
@font-face {
	font-family: "HelveticaLight";
	src: url("../fonts/HelveticaLight/HelveticaLight.eot");
	src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
	url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
a{
	font-family: "HelveticaLight"!important;
}
button {
	font-family: "HelveticaLight"!important;
}
input{
	font-family: "HelveticaLight"!important;
}
.product-wrap {
	float: left;
}
.product {
	
	position: relative;
}

#about button{
	position: absolute;
	top: 10px;
	left: 200px;
	font-size: 20px;
	/*font-weight: 500;*/
	color: white;
	width: 100px;
	text-decoration: none;
	/*border: 0;*/
}

.inmoscow {
	font-size: 14px;
}

#moscow {
	color: #fff;
	font-size: 14px;
}
/*@media(max-width: 1250px){
	#about {
		display: none;
	}
}*/

/*td .image img{
	cursor: default !important;
	z-index: -10000;
}*/
.image {
	cursor: default !important;
	/*z-index: 10000;*/
}

/*@media(max-width: 1320px){
	.appstore {
		display: none;
	}

}*/





a:hover {
	color: #fff !important;
	text-decoration: underline;
}

#cart-items {
	/*height: calc(100% - 80px) !important;*/
    overflow-x: hidden !important;
    overflow-y: auto !important;
    position: fixed;
    z-index: 1000;
    top: 105px;
    right: 0;
    height: auto !important;
    max-height: calc(100% - 206px) !important;
	border-width: 0px;

}
#cart_white {
	top: 800px;
	right: 10px;
	background-color: #fff;
	width: 560px;
	height: 100%;
	position: fixed;
	top: 60px;
	z-index: 19;
	right: 0px;
	box-shadow: 0px 3px 20px -2px rgba(0,0,0,0.3);
	border-width: 0px;
}
.cart-total {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 560px;
	z-index: 20;
	/*height: 100%;*/
}


#first_header {
	/*position: absolute;*/
	top: -10px;
	/*width: 100%;*/
}

.appstore  {
	height: 50px;
	position: absolute;
	right: 170px;
	top: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 20px;
}

.discount {
	position: absolute;
	right: 290px;
	top: -15px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 10px;
	color: #fff;
	background-color: #ED1F24;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: 200;
	text-transform: uppercase;
	line-height: 30px;
}


#mainimage {
	width: 100%;
	/*margin: 0 auto;*/
}

.left-menu {
	float: left;
	width: 300px;
}

#item-wrap-inner {
	/*float: right;*/
	/*width: calc(100% - 300px);*/
}

#plus100 {
	position: relative;
	left: 40px;
	/*padding-bottom: 50px;*/
	line-height: 14px;
	font-size: 14px !important;
	color: #aaa !important;
	font-family: sans-serif;
}

tr {
	/*width: 500px;*/
}

.cart-first-col {
	text-align: right;
}

#cart-items {
	margin-right: 0px;
	width: 560px;
}


.ordercom {
	position: absolute;
	right: 0px;
	width: 300px;
}


#cototal {
	border-radius: 2px;
	position: absolute;
	right: 20px;
	font-size: 20px;
	padding-bottom: 2px;
	text-transform: none;
	color: #fff;

}


.btn-nav {
	color: white;
	font-size: 20px;
	/*border-width: 2px;*/
	font-family: sans-serif;
	position: fixed;
	top: 10px;
	right: 207px;

}
.btn-check {
	background-color: #FF5600;
	border-color: #FF5600;
	color: white;
	text-transform: none;
	font-family: sans-serif;
	font-size: 20px;
	position: relative;
	left: -25px;
	/*top: 3px;*/
	outline: none;
}

.btn-check:hover {
	background-color: #E44C00;
	border-color: #E44C00;
}

.btn-check:hover {
	background-color: #E44C00;
	border-color: #E44C00;
}



.ordered-item:hover .cart-del { 
	display:block; 
}

td .image {
	cursor: default;
}



#freeDelivery {
	font-size: 18px;
	text-align: center;
	margin: 0;
	font-weight:100;
	display: none;
	z-index: 20;
	margin-bottom: 5px;
}
#freeDeliveryplus {
	font-size: 16px;
}

#delivery_day {
	padding: 5px 20px;
	color: #fff;
	font-size: 22px;
	text-align: center;
	position: fixed;
	top: 60px;
	right: 0px;
	width: 560px;
	background-color: #438ead;
	z-index: 20;
	/*height: 60px;*/
}
#cart_time_b {
	background-color: #36778d;
	padding: 3px 10px;
	border-radius: 5px;
}

.popup-image {
	width: 60%;
	float: left;
	text-align: center;
	vertical-align: middle;


}

#cattop {
	position: fixed;
	width: 130px;
	height: 100%;
	background-color: #66cc66;
	opacity: 0;
	top: 0;
	left: 0;
	display: none;

}

#clicktop {
	position: fixed;
	width: 300px;
	height: 100%;
	top: 0;
	left: 0;
	display: none;	
	opacity: 0.5;
	z-index: 1;
}
#texttop {
	position: fixed;
	left: 15px;
	top: 70px;
	font-size: 18px;
	font-size: sans-serif;
	color: #282;
	font-weight: 600;
	display: none;
	/*opacity: 0.5;*/
}
#clicktop:hover + #cattop {
	opacity: 0.3;
}



.popimg {
/*  object-fit: none; 
  object-position: center; 
  height: 100px;
  width: 100px;*/


}
.popup-helper {
  display: inline-block;
  height: 300px;
  vertical-align: middle;
}

.popup-image img {
	/*object-fit: cover;*/
margin: 0px;
max-width: 94%;

  outline: 15px solid white;
  outline-offset: -15px;
/*
height: 100%;
width: 100%;*/
}
.popup-name {
	width: 40%;
	float: left;
	margin-top: 30px;
	padding-right: 30px;
}

.popup-title {
	font-size: 37px;
	line-height: 42px;
}
.popup-price {
	margin-top: 30px;
	font-size: 36px;
	font-weight: 600;
}
.kop {
	font-size: 0.6em;
	/*vertical-align: top;*/
	position: relative;
	top: -0.5em;
	right: -0.2em;
}

.popup-mass {
	font-size: 28px;
}

.popup-description {
	float: left;
	padding: 30px;
	width: 60%;
	padding-top: 0;
	padding-left: 50px;
}

.product_card_props {
	width: 40%;
	padding: 30px;
	float: left;
	padding-top: 0;
}

.product_card_prop_item_title {
	font-weight: 700;
	/*float: left;*/
}

.product_card_prop_item_value {
padding-left: 20px;
font-size: 16px;
}

.description-text {
	font-size: 16px;
}

.popup-description {
	font-size: 20px;
}

.popup-rub {
	font-weight: 400;
	position: relative;
	left: 10px;
	font-size: 30px;
}
.cart-change {
	color: #36778d !important;
	font-size: 20px;
	position: absolute;
	margin-top: 10px;
	/*display: none;*/
	/*opacity: 0.8;*/
}
tr:hover  .cart-change {
	color: #36778d !important;
	display: block;
}

.cart-change:hover {
	opacity: 1;
}
.cart-add {
	/*margin-top: 50px;*/
}

.cart-min {
	/*padding-top: 80px;*/
}

/*td .quantity {*/
	/*width: 20px !important;*/
/*}*/

.cart-del {
	position: absolute;
	color: #f00 !important;
	display: table-cell;
	font-size: 54px  !important;
	font-weight: 300;
	font-family: Open Sans;
	margin-top: -10px;
}

tr:hover .cart-del {
	/*display: block;*/
}

table tbody tr td .price,
table tbody tr td .quantity,
table tbody tr td .total  {
	width: 40px !important;
}

/*.popup-min {
	background-color: #FF5600;
	width: 50px;
	float: left;
}
.popup-min:hover {
	background-color: #E44C00;
}*/
.popup-num {
	margin-top: 30px;
	height: 50px;
	text-align: center;
	font-size: 30px;

}
.popup-add {
	margin-top: 10px;
	width: 100%;
	height: 50px;
	font-size: 20px;
	font-family: sans-serif;
	color: #fff;
}

.popup-success {
	text-align: center;
	color: #181;
	font-size: 22px;
	margin-top: 10px;
	display: none;

}
.popup-suc {
	font-weight: 700;
}

#orderBtn:focus {
	background-color: #181;
}

.product_card_prop_item_value a,
.product_card_prop_item_value a:hover {
	cursor: default;
	font-size: 16px;
	color: #333 !important;
	text-decoration: none;
}


#dd_body {
	display: none;
}

.backdrop {
	height: 100%;
	width: 100%;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.2;
	display: none;
}

#dd_body,
#dd_btn,
#notmin {
	z-index: 20;
}

#orderBtn {
	z-index: 20;
}


/*search*/

.container-4{
	position: absolute;
	left: 600px;
	top: 10px;
  overflow: hidden;
  width: calc(100% - 465px);
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input#search{
  width: calc(100% - 465px);
  height: 40px;
  background: #fff;
  border: none;
  font-size: 12pt;
  font-family: sans-serif;
  float: left;
  color: #333;
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.glyphicon-search {
	position: absolute;
	color: #999;
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
}
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
::-webkit-input-placeholder { padding-top: 1px; }
::-moz-placeholder { padding-top: 1px; }  
:-ms-input-placeholder {  padding-top: 1px; } 
input:-moz-placeholder {  padding-top: 1px; }


.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}



@media(max-width: 1170px){
	#first_header {
		display: none;
	}
	.appstore {
		display: block;
	}
	.container-4{
		width: calc(100% - 170px);
		left: 320px;
	}
}

@media(max-width: 820px){
	.header_cat {
		display: none;
	}
}

@media(max-width: 768px){
	.appstore {
		display: none;
	}

}

#nosearch {
	text-align: center;
	/*margin-top: 200px;*/
}

#nosearch h2 {
	font-size: 22px;
	text-transform:none;
}
.popup-alcogol{
	position: absolute;
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 10px;
    top: -73px;
    transition: all 0.5s ease;
        z-index: 9999;
}
.popup-alcogol.active-popup{
	top: 0px;
	position: absolute;
	z-index: 9999999999;
}
.close-popup{
	background-color: #f3f3f3!important;
}
.alcogol{
	font-size: 18px;
}
.cart-add{
	left: 35px!important;
	top: 0;
}
.cart-min{
	left: 35px!important;
	bottom: 32px;
}
.categories a:before{
	content: " ";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 40%,rgba(0,0,0,0.5) 64%,rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 40%,rgba(0,0,0,0.5) 64%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 40%,rgba(0,0,0,0.5) 64%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
}
.review-item{
	border: 1px solid #CAC8C8;
	border-radius: 9px;
	padding: 20px;
	margin-bottom: 20px;
	background-color: #fff;
}
.quantity{
	text-align: center;
	padding-top: 33px!important;
	position: relative;
}
.cart-total table th{
	top: -29px!important;
}
.cart-del-txt{
	display: none;
}
.product_card_props.f32 > button.increase_count.buy{
	background: #ffcc66;
	color: #333;
	text-align: center;
	position: relative;
	padding: 20px 0;
	left: 0;
	bottom: 0;
	border: 0;
	width: 100%;
	border-radius: 0 0 5px 5px;
}
div.modal-dialog > div > div:nth-child(3){
	margin-bottom: 42px;
}
.product .desc a{
	height: 32px!important;
	display: block!important;
	overflow: hidden!important;
}
.product:hover .desc a{
	height: auto!important;
	overflow: visible!important;
}
.product:hover .desc .product-title{
	height: auto!important;
	min-height: 40px;
}
.av-categories a{
	padding: 5px 10px;
	display: inline-block;


	color: #000;
	background-color: #FC6;
	font-size: 14px;
	position: relative;
	transition: all 0.3s ease;
}
.av-categories a:hover{
	text-decoration: none;
	background-color: #ffcc22;
}
.av-categories li{
	margin: 2px!important;
	margin-bottom: 10px!important;
}

/*.av-categories a:before {*/
	/*width: 0;*/
	/*content: "";*/
	/*position: absolute;*/
	/*top: -1px;*/
	/*right:-1px;*/
	/*height: 0;*/
	/*border-top: 10px solid whitesmoke;*/
	/*border-left: 10px solid rgb(165, 165, 165);*/

/*}*/


.tabs{
	display:inline-block;
}
/*.tabs*/
.tabs ul{
	margin:0px;
	padding:0px;
}

.tabs ul li{
	margin:0px;
	padding:0px;
	cursor:pointer;
	display:block;
	padding:10px 15px;
	background:#F5F5F5;
	color:#707070;
	border: 1px solid #F0EFEC;
	transition: all 0.5s ease;
}
.tabs ul li.active, .tabs ul li.active:hover{
	background:#ffb547 ;
	color:#fff;
}
.tabs ul li:hover{
	background:#909090;
	color:#fff;
}
.tabs li a {
	color: #707070;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	text-transform: inherit;
	font-size: 10px;
}
.tabs li a:hover{
	color: #fff!important;
	text-decoration: none;
}
.tabs li:hover a{
	color: #fff;
}
.my-account{
	position: absolute;
	right: 109px!important;
	z-index: 20;
	display: none;
	padding: 0px;
	border: 1px solid #BFBFBF;
	background-color: #F5F5F5;
}
.my-account li{
	padding: 8px 40px;
	padding-left: 15px;
}
.my-account li:last-child{
	border-top: 1px solid #BFBFBF;
}
.my-account li a i{
	padding-right: 5px;
}
.wrapper-acaunt input{
	margin-right: 20px;

}
.add-form{
	position: fixed;
	width: 300px;
	background: #fff;
	left: 50%;
	top: 50%;
	border-radius: 6px;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	padding: 20px;
	display: none;
	z-index: 9999999;
}
.add-adress{
	float: right;
}

.wrapper-acaunt >div{
	margin: 10px 0;
}
.wrapper-acaunt{
	padding: 10px 30px 20px;
	background-color: #fff;
	border: 1px solid #F0EFEC;
	margin-bottom: 15px;
}
.product .price{
	position: absolute;
	bottom: 0;
	left: 6px;
}
body > footer > div{
	text-align: center;
}
.padding-0{
	padding: 0;
}
.product>a>img{
	transition: all 0.5s ease;
	position: relative;
	left: 0;
}
.product:hover>a>img{

	position: relative;
	left: 0px;
}
.acount-btn-custom{
	background-color: transparent!important;
	border: none!important;
	text-decoration: underline!important;
}
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.navbar-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;

}
.orders th,.orders td{
	 text-align: center;
}
@media (max-width:1400px){
	.product:hover>a>img{
		max-width: 60%!important;
		position: relative;
		left: 37px;
	}
}

.product .count{
	z-index: 2;
}
.table > tbody > tr > td{
	padding: 7px 0;
	margin-left: 5px;
}
.orderlogin{
	color: #000!important;
}
.my-account li:hover {
	background: #909090;
	color: #fff;
}
.my-account li:hover a{
	color: #fff!important;
}
.login:hover{
	color: #c0c0c0 !important;
	text-decoration: none;
}
.login:focus{
	text-decoration: none;
	color: #c0c0c0 !important;
}
.login:active{
	text-decoration: none;
	color: #c0c0c0 !important;
}
.my-account li a:hover{
	color: #fff!important;
	text-decoration: none;
}
.result-serch{
	position: fixed;
	width: 560px;
	min-height: 30px;
	z-index: 9999;
	top: 98px;
	right: 0;
	background-color: #fff;
	display: none;
}
.form-control{
	border-radius: 0;
}
.pager li > a, .pager li > span{
	border-radius: 0;
	padding: 8px 17px;
	font-size: 22px!important;
	font-weight: 500;
}
.signin, .form-control{
	border-radius: 0!important;
}
.btn-signin{
	border-radius: 0!important;
	color: #fff;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.34);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.34);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.34);
	border-color: transparent!important;
}
.categories a{

	position: relative;
	height:auto;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0.18+29,0.18+71,1+100 */
	background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.18) 29%, rgba(0,0,0,0.18) 71%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.18) 29%,rgba(0,0,0,0.18) 71%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.18) 29%,rgba(0,0,0,0.18) 71%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */



}
.cart-btn{
	padding: 5px;
}
.main-start-page h4{
	text-transform: uppercase;
	color: #000;
	margin-top: 28%;
	margin-bottom: 25px;
	font-family: "HelveticaLight";
	color: #777;
	font-size: 25px;
}
.btn-block{
	vertical-align: middle;
	font-size: 22px;
}
.custom-style .error{
	text-align: center;
}
.main-start-page p{
	color: #777;
	font-size: 18px;
	padding-left: 28px;
	padding-right: 28px;
	font-family: "HelveticaLight";
	width: 330px;
}
.main-start-page > img{
	margin-bottom: 25px;
}
.error{
	display: inline-block;
	padding-top: 0;
}
.categories p{
	font-family: "HelveticaLight";
	display: table;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-size: 29px;
	color: #E6E5E5;
	z-index: 17;
	text-align: left;
	padding-left: 31px;
}
.add-to-cart.buy{
	background: #ffcc66;
	color: #333;
	text-align: center;
	border: none;
	width: 100%;
	height: auto;
	position: relative;
	left: 0px;
	bottom: -1px;
	font-weight: 100;
	font-size: 35px;
}
.btn-custom-reset{
	height: 50px;
	vertical-align: middle;
	color: #fff;
	font-size: 17px;
	padding: 0 25px;
}
#tt > iframe{
	float: right;
}
.cart-info.dropdown-menu2 tbody .name {
	color: #3A3A3A;
	font-size: 12px!important;
	font-weight: bold;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	border: 0;
	background: 0;
}
.ui-menu-item:hover{
	background-color: #F5F5F5;
}
@media (max-width:768px){
.categories p{
	font-size:26px;
}
	.categories a{
		display: block;
	}
	.product_card_props{
		width: 100%;
	}
	.popup-description{
		width: 100%;
	}
	.popup-image{
		width: 150px;
		margin: 0 auto;
		float: none;
	}
	.popup-helper{
		height: auto;
	}
	.popup-name{
		width: 100%;
		padding: 0 30px;
		}
		.popup-mass{
			font-size: 22px;
			padding: 0 30px;
		}
		.popup-price{
			margin-top: 30px;
			font-size: 31px;
			font-weight: 600;
			padding: 0 30px;
		}
		.product_card_prop_item_value{
			padding: 0;
		}
		.popup-title{
			font-size: 16px;
			line-height: 28px;
		}
		.backForth{
			padding: 12px 9px !important;
		}
		.orderheader{
			font-size: 23px!important;
		}
	.twoad{
		width: 100%;
	}
	select{
		width: 100%;
	}
	#val-2,#val-2 div{
		padding: 0!important;
	}
	}
#val-2 >div{
	padding-left: 0;
}
.p-l-15{
	padding-left: 9px!important;
}
.close-popups{
	float: right;
	position: absolute;
	right: 2px;
	top: 0;
	font-size: 24px!important;
	cursor: pointer;
}

.result-serch td.quantity{
	padding-left: 6px!important;
	font-size: 20px;
}
.cart-add-t{
	font-size: 41px;
	right: 52px;
}
#cart_white > input[type="text"]{
	width: 100%;
	height: 40px;
	padding: 0 10px;
	border: none;
	border: 1px solid #ffb547;
}
.ui-widget.ui-widget-content{
	position: fixed;
}
.order-details{
	position: fixed;
	width: 300px;
	top: 50%;
	left: 50%;
	border-radius: 5px;
	background-color: #fff;
	height: 400px;
	overflow-y: scroll;
	text-align: left;
	transform: translate(-50%,-50%);
	display: none;
	z-index: 9999;

}
.order-details .item{
	display: table;
	width: 100%;
}
.order-details .info{
	width: 70%;
	padding: 5px;
	float: right;
	clear: both;
}
.order-details .img{
	float: left;
}
.order-details .item{
	border: 1px solid #CACACA;
}
.order-details span.count{
	display: block;
}
.order-details img{
	width: 67px;
}
#container-fluid1 > div > div > div > div > div > div.orders > div > table > tbody > tr:nth-child(2) > td:nth-child(4){
	width: 350px;
	text-align: center;
	position: relative;

}
.orders tr{
	border-bottom: 1px solid #F3F3F3;
}
.adresses tr{
	border-bottom: 1px solid #F3F3F3;
}
.orders th, .orders td{
	text-align: center;
}
.activeClassradio{
	display: block;
}
.ui-menu-item-wrapper{
	width: 100px;
}
.ui-menu .ui-menu-item{
	padding-left: 120px;
	height: 110px;
	padding-top: 46px;
	position: relative;
	padding-right: 136px;
}
.ui-widget.ui-widget-content{
	z-index: 9999;
}
.order-get-more{
	background-color: transparent;
	border:none;
}
.ui-widget.ui-widget-content{
	border: 2px solid #F3B547;
	border-top:0 ;
}
.ui-menu .ui-menu-item-wrapper {
	position: absolute;
	padding: 3px 1em 3px .4em;
	left: 0;
	top:50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.radiocustom{
	display: none;
}
.adresses th{
	text-align: center;
}
.adresses td{
	text-align: center;
}
.categories a{
	padding: 0;
}
.ordered-item{
	position: relative;
}
.ordered-item > td:last-child{
	position: relative;
}
.cart-del{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 48px;
	right: 0px;
	border-bottom: 0;
	width: 85px;
	transition: all 0.5s ease;
}

td.total > a:nth-child(4){
	right: 100px!important;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top:62px;
	border-bottom: 0;
	width: 85px;
	transition: all 0.5s ease;
}
.cart-change.cart-add,.cart-change.cart-min{
	opacity: 0;
	transition: all 0.5s ease;
}
.ordered-item:hover td.price,.ordered-item:hover td.total{
	color: #D4D4D4;
}
.ordered-item:hover .cart-change.cart-add,.ordered-item:hover .cart-change.cart-min{
	opacity: 1;
}
.ordered-item:hover > td:last-child > a{
	visibility: visible;
	opacity: 1;
}
.btn-link{
	float: right;
}
.add-to-cart:hover{
	background: #ffcc22;
}
.categories a{
	border: 1px solid #332723;
	padding: 0;
	-webkit-filter: saturate(1);
	-moz-filter: saturate(1);
	filter: saturate(1);
	transition: all 0.5s ease;
}
.categories a:hover {
	-webkit-filter: saturate(0.2);
	-moz-filter: saturate(0.2);
	-ms-filter: saturate(0.2);
	filter: saturate(0.2);
}
.categories a p{
	text-shadow: none;
	transition: all 0.5s ease;
}
.categories a:hover p{
	text-shadow: 3px 1px 3px rgba(0, 0, 0, 1);
}
.review-item .title{
	font-size: 16px;
	color: #B3B2B2;
}
#container-fluid1 > div > div > div:nth-child(2) > form > div:nth-child(3){
	text-align: right;
}
textarea{
	resize: none
}
.tabs h1{
	margin-top: 0;
}
.tabs{
	margin-top: 15px!important;
}
.cart-del{
visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
}
#ordered-items tr:hover .cart-change{
	visibility: visible;
	opacity: 1;
}
#cart_white,.cart-total,#cart-items{
	right: -100%;
	transition: all 0.5s ease;
}
.activeItems{
	display: block;
}
.activeMenu #cart_white, .activeMenu .cart-total, .activeMenu #cart-items{
	right: 0%;
}
@media(min-width: 1024px){
	#dd_body{
		display: block!important;
	}
}
.tabs ul li{
	font-size: 10px;
}
.modal-content .item_count{
	position: absolute;
	z-index: 99;
	top: 13px;
	right: 90px;
	background-color: #FC6;
	border-radius: 60em;
	padding: 10px 15px;
}
.popup-image{
	position: relative;
}
.ssave-comment{
	padding-right: 10px;
}
.savesComent .not-save-comment,.savesComent .ssave-comment{
	display: none;
}
.savesComent .special-instructions-box{
	border: none;
}
.editComent .not-save-comment,.editComent .ssave-comment{
	display: inline-block;
}
.editComent .special-instructions-box{
	border: 1px solid #e5edec;
}
/*.ssaves-comment{*/
	/*display: none;*/
/*}*/
/*.editComent .ssaves-comment{*/
	/*display: table;*/
	/*position: absolute;*/
	/*right:0;*/
	/*left: 0;*/
/*}*/
.editComents{
	right: -1px;
	width: auto;
	display: none;
}
.savesComent .editComents{
	display: table;
}
.editComent .editComents{
	display: none;
}
.special-instructions-box{
	width: 236px;
	font-size: 11px;
	line-height: 11px;
	resize: none;
	height: 32px;
	border: 1px solid #e5edec;
	-moz-border-radius-topleft: 5px !important;
	-moz-border-radius-topright: 5px !important;
	-moz-border-radius-bottomright: 5px !important;
	-moz-border-radius-bottomleft: 5px !important;
	-webkit-border-top-left-radius: 5px !important;
	-webkit-border-top-right-radius: 5px !important;
	-webkit-border-bottom-right-radius: 5px !important;
	-webkit-border-bottom-left-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
}
.ordered-item td.total > span:nth-child(5){
	display: none;
	position: absolute;
	right: 120px;
	height: 77px;
	bottom: -20px;
}
.activeComent{
	display: block!important;
}
.notActiveComent{
	display: none!important;
}
.close-form{
	font-size: 15px;
	color: #A9A9A9;
	position: absolute;
	top:5px;
	right: 5px;
	transition: all 0.5s ease;
}
.close-form:hover{
	color: #000;
}
.btn.disableds{
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65;
}
.yesPopup{
	width: 300px;
	z-index: 999999;
	position: fixed;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	background-color: #fff;
	border-radius: 6px;
	padding: 30px;
	display: none;
	text-align: center;
}
.yessopen{
	font-weight: bold;
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
.yesPopup p{
	text-align: left;
	font-size: 12px;
	margin: 0;
	line-height: 20px;
}
.yesPopup a{
	margin-top: 10px;
}
.yessopen {
	font-weight: bold;
	color: #888;
	font-size: 12px;
	line-height: 18px;
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}